# Exercise 3 – Interpretation von Modellen

### a) Der Datensatz `employment_08_09.xlsx` beinhaltet die sozioökonomischen Daten der Arbeitskräfte in den USA im April 2008 und Angaben, ob sie im April 2009 weiterhin angestellt sind. Alle Befragten waren im April 2008 angestellt. Sagen Sie basierend auf den 2008er Informationen vorher, welche Arbeitskraft 2009 arbeitslos wird. Haben ältere Arbeitskräfte ein höheres Risiko für Arbeitslosigkeit während der Finanzkrise 2008-2009?

###### Einlesen des Datensatzes

In [24]:
import pandas as pd

# load dataset
data = pd.read_excel('./data/employment_08_09.xlsx')

These data file contains data on 5412 workers who were survey in the April 2008 Current Population Survey and reported that they were employed. The data file contains their employment status in April 2009, one year later, along with some additional variables.

In [28]:
data.head()

,age,race,earnwke,employed,unemployed,married,union,ne_states,so_states,ce_states,...,government,private,self,educ_lths,educ_hs,educ_somecol,educ_aa,educ_bac,educ_adv,female
0,53,1,NaN,1,0,1,0,0,0,1,...,0,0,1,0,0,1,0,0,0,0
1,39,1,NaN,1,0,1,0,0,0,1,...,0,0,1,0,0,0,0,1,0,1
2,41,1,500.0,1,0,1,0,0,1,0,...,0,1,0,0,0,1,0,0,0,1
3,27,1,520.0,1,0,1,0,0,1,0,...,0,1,0,1,0,0,0,0,0,0
4,29,3,615.0,1,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,1,0

####  Untersuchen Sie die Art der Variablen und die Verteilung der Zielvariablen.

###### Art der Variablen

- `age`: Alter, Integer


- `female`: Geschlecht (weiblich=1), Integer-Indikator


- `married`: Verheiratet (ja=1), Integer-Indikator


- `race`: Rasse (weiß=1, schwarz=2, andere=3), Integer-Indikator


- `union`: Gewerkschaftsmitglied (ja=1), Integer-Indikator


- `ne_states`: Von Nordost-Staat (ja=1), Integer-Indikator
- `so_states`: Von Südstaat (ja=1), Integer-Indikator
- `ce_states`: Von zentralem Staat (ja=1), Integer-Indikator
- `we_states`: Von westlichem Staat (ja=1), Iteger-Indikator


- `private`: Angestellt in privatem Betrieb (ja=1), Integer-Indikator
- `government`: Angestellt von der Regierung, (ja=1), Integer-Indikator
- `self`: Selbstständig (ja=1)


- `educ_lths`: Höschster Abschluss niedriger als High-School (ja=1), Integer-Indikator
- `educ_hs`: Höchster Abschluss ist High-School (ja=1), Integer-Indikator
- `educ_somecol`: Höchster Abschluss ist College (ja=1), Integer-Indikator
- `educ_aa`: Höchster Abschluss ist AA (ja=1), Integer-Indikator
- `educ_ba`: Höchster Abschluss ist BA oder BS (ja=1), Integer-Indikator
- `educ_adv`: Höchster Abschluss fortgeschritten (ja=1), Integer-Indikator


- `earnwke`: Durschnittliches wöchentliches Einkommen, Float

In [31]:
data['earnwke'].dtype

dtype('float64')

,age,race,earnwke,employed,unemployed,married,union,ne_states,so_states,ce_states,...,government,private,self,educ_lths,educ_hs,educ_somecol,educ_aa,educ_bac,educ_adv,female
0,53,1,NaN,1,0,1,0,0,0,1,...,0,0,1,0,0,1,0,0,0,0
1,39,1,NaN,1,0,1,0,0,0,1,...,0,0,1,0,0,0,0,1,0,1
2,41,1,500.0,1,0,1,0,0,1,0,...,0,1,0,0,0,1,0,0,0,1
3,27,1,520.0,1,0,1,0,0,1,0,...,0,1,0,1,0,0,0,0,0,0
4,29,3,615.0,1,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,1,0

In [23]:
data.max()

age               63.00
race               3.00
earnwke         2884.61
employed           1.00
unemployed         1.00
married            1.00
union              1.00
ne_states          1.00
so_states          1.00
ce_states          1.00
we_states          1.00
government         1.00
private            1.00
self               1.00
educ_lths          1.00
educ_hs            1.00
educ_somecol       1.00
educ_aa            1.00
educ_bac           1.00
educ_adv           1.00
female             1.00
dtype: float64

### b) Volkswirtschaftler möchten herausfinden, was die möglichen Einflussfaktoren auf die Ablehnung eines Kreditantrags sind, und ob es eine rassistische Diskriminierung gibt. Welcher Typ von Aufgabe des maschinellen Lernens ist für diese Aufgabe geeignet? Welche Methoden kann man benutzen?